<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362596351437-olrdm53atqr2kee8d5ldgsbc2uj18a50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362596351437-olrdm53atqr2kee8d5ldgsbc2uj18a50</string>
	<key>API_KEY</key>
	<string>AIzaSyBeQYUQd_qz3CfkTuU5K53wgxA5gYLPaOk</string>
	<key>GCM_SENDER_ID</key>
	<string>362596351437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.halilyas.AuthTutorial</string>
	<key>PROJECT_ID</key>
	<string>swiftuiauthtutorial-a9c11</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiauthtutorial-a9c11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362596351437:ios:a33348dbc70cfd98259884</string>
</dict>
</plist>